@charset "utf-8";

#body {
    min-width: 800px;
}

body > .ui.container {
    margin-top: 3em;
}

.hide {
    display: none;
}

.clearfix:after {
    visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0;
}

#contrib {
    margin: 0 auto;
}

#cal {
    margin: 3em auto 0 auto;
}

#cal .cal-heatmap-container {
    margin: 0 auto;
}

#contrib div.summary > div {
    float: left;
    width: 19.99999999%;
    text-align: center;
    color: #767676;
    font-size: 0.9em;
}

#details div.title {
    text-align: center;
    font-size: 1.2em;
}

#details ul {
    margin: 5px 0;
    font-size: 13px;
    color: #999;
    padding: 0;
    word-wrap: break-word;
}

#details ul li {
    padding: 11px 0 8px;
    padding-left: 90px;
    list-style-type: none;
}

#details ul li .state {
    float: left;
    width: 80px;
    margin: 3px 3px 2px -90px;
    display: inline-block;
    padding: 4px 8px;
    font-weight: bold;
    line-height: 20px;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    background-color: #999;
}

#details ul li .state-more {
    background-color: #6cc644;
}

#details ul li .state-less {
    background-color: #bd2c00;
}

#details ul li .num {
    color: #999;
    display: inline-block;
    min-width: 25px;
}

#details ul li a.link {
    color: #4078c0;
    text-decoration: none;
    font-weight: bold;
    padding: 0 8px 0 5px;
}

#details ul li .cmeta {
    display: block;
    font-size: 12px;
    color: #767676;
}

#contrib div.summary > div > span:last-child {
    display: block;
    line-height: 1.6em;
    font-size: 2em;
    color: #000;
}