@charset "utf-8";

#body {
    min-width: 800px;
}

body > .ui.container {
    margin-top: 3em;
}

.hide {
    display: none;
}

.clearfix:after {
    visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0;
}

#contrib {
    margin: 0 auto;
}

#cal {
    margin: 3em auto 0 auto;
}

#cal .cal-heatmap-container {
    margin: 0 auto;
}

#contrib div.summary > div {
    float: left;
    width: 19.99999999%;
    text-align: center;
    color: #767676;
    font-size: 0.9em;
}

#details div.title {
    text-align: center;
    font-size: 1.2em;
}

#contrib div.summary > div > span:last-child {
    display: block;
    line-height: 1.6em;
    font-size: 2em;
    color: #000;
}